body {
  font-size: 120%;
  font-family: 'Book Antiqua', serif;
}

button, input {
  font-size: 100%;
  font-family: 'Book Antiqua', serif;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("pap.jpg");
  background-size: cover;
  background-position: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
